html {
  font-size: 10px;
  box-sizing: border-box;
  color: var(--text-color);
}

:root {
  --body-background: black;
  --nav-background: #4a3dd4;
  --text-color: rgba(200, 185, 158, 0.916);
  --button-hover: #8681c5e3;
}

nav {
  position: sticky;
  top: 0;
  font-family: "Poppins", serif;
  background-color: var(--nav-background);
  display: grid;
  grid-template-columns: 3.5vmax 66vw 17vw;
  align-items: center;
  margin: 0;
  padding: 1rem;
  width: 100%;
}
nav img {
  height: 4rem;
}
nav p {
  /* padding-left: 1vw; */
  font-size: 2.5rem;
}
nav ul {
  gap: 2.5vmax;
  display: grid;
  grid-template-columns: 4vmax 4vmax 4vmax 8vmax;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  text-align: center;
  font-size: 1.5rem;
}
nav ul a {
  color: inherit;
  text-decoration: none;
}
